/* Navbar */



ul {
  list-style-type: none;
  padding: 0;
  z-index: 500;
}

a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  z-index: 500;
}

.logo{
  margin-left: 15px;
}

.navbar {
  background-color: var(--secondary-bg-color);
  background-color: #00092C;
  height: 100px;
  padding-top: 38px;
  padding-bottom: 38px;
  z-index: 500;

}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 500;
}

.navbar nav,
.navbar ul {
  display: flex;
  align-items: center;
  z-index: 500;
}

.navbar li {
  padding: 0 0.3em;
  margin: 0 0.7em;
}

.navbar li:hover {
  border-bottom: 1px solid #fff;
}

.navbar ul {
  margin-right: 5em;
}

@media only screen and (max-width: 600px) {
  /* Navbar */
  .navbar .container {
    flex-direction: column;
    align-content: center;
  }

  .navbar nav {
    padding: 0 1em;
    background-color: #313550;
  }

  .navbar ul {
    margin-right: 0;
  }

  .navbar .secondary-cta {
    display: none;
  }
}
